body {
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
}

h1 {
  color: #f6f6f6;
  font-family: 'Righteous', cursive;
  letter-spacing: 3px;
  font-size: 3em;
  margin: 0px;
}

h2 {
  color: #d37322;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 4.8px;
  font-size: 1.5em;
  margin: 0px;
}

p {
  font-family: 'Source Serif Pro', serif;
}

form {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(24, 24, 24);
  padding-left: 15%;
  padding-right: 10%;
  padding-bottom: 20px;
  position: sticky;
}

#cookies {
  color: #d84628;
}

header div {
  text-align: left;
  padding-left: 20px;
}

header img {
  width: 400px;
  transform: rotate(10deg);
}

header img:hover {
  transform: rotate(-10deg);
  transition: ease-in-out 1s;
}

nav {
  display: flex;
  align-content: center;
  justify-content: center;
}

nav ul {
  color: white;
  display: flex;
  list-style: none;
  background-color: #d37322;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2px;
  font-size: 1em;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

nav a {
  color: white;
  text-decoration: none;
  width: 180px;
  font-weight: 550;
  padding: 10px 0px;
}

nav a:hover {
  color: rgb(24, 24, 24);
  text-decoration: none;
  background-color: white;
  width: 180px;
  font-weight: 550;
  transform: scale(1.25);
  border-radius: 15px;;
}

#countdown {
  color: white;
}


#fishtagram {
  display: flex;
  justify-content: center;
}

#fishtagram div:nth-child(1) {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #d84628;
  border-radius: 50%;
  border: 6px white solid;
}


#fishtagram div {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #d84628;
  width: 180px;
  height: 170px;
  justify-content: center;
}


#fishtagram p {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
  font-size: 1.1em;
  text-align: center;
}

.social {
  width: 180px;
  height: 170px;
  object-fit: cover;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  color: white;
  width: 100%;
}

.about img {
  display: block;
  width: 500px;
  height: 250px;
}

.about div {
  display: flex;
  color: white;
  width: 40%;
  line-height: 1.2em;
  letter-spacing: 1.1px;
  align-content: center;
  justify-content: center;
  padding: 2em;
  text-align: center;
}



.locations {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 100px;
}

.locations article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.locations article img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
  border: 6px white solid;
}


footer {
  display: flex;
  text-align: left;
  background-color: #d37322;
  position: sticky;
  margin: 0px;
  justify-content: space-between;
}

footer p {
  margin: 1.5em 2em;
  font-size: .9em;
  color: white;
  font-weight: 1.5em;
}

/* Begin New Page */

#franchise {
  margin-top: 75px;
}

section {
  margin-top: 75px;
}

#salesform {
  padding: 20px;
  background-color: #d84628;
  width: 20%;
  justify-content: center;
  border-radius: 10px;
}

#salesform fieldset {
  display: flex;
  flex-direction: column;
  background-color: #d37322;
  border: none;
}

section h2 {
  color: white;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

#salesform label {
  display: block;
  border: none;
  color: white;
  font-weight: 400;
}

#salesform input {
  display: block;
  border: none;
  color: white;
  background-color: black;
  height: 40px;
  margin-top: 3px;
  margin-bottom: 15px;
  padding: 0px 15px;
}

#salesform button {
  display: block;
  background-color: white;
  color: black;
  width: 50%;
  align-self: center;
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
  border: none;
  width: 50%;
  padding: 7px 15px;
  margin-top: 10px;
}

#sectionforsales {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

#cookiechart {
  display: flex;
  color: white;
  background-color: #d37322;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;;
  justify-content: space-evenly;
  border-radius: 10px;
  margin-left: 40px;
}

#cookiechart th { 
  text-align: center;
  padding: 5px 5px;
}

#cookiechart td { 
  text-align: center;
}

#cookiechart tr:nth-child(odd) {
  color: black;
  background-color: white;
}

tfoot, thead {
  font-size: 1.2em;
}


